language: haxe

haxe:
  - 3.4.7

sudo: false

env:
  matrix:
    - OPENFL=7.1.1 LIME=6.1.0 HAXEPUNK=4.0.1 HAXEPUNKTMX=4.0.0

install:
  - if [[ $LIME ]]; then yes | haxelib install lime $LIME > log.txt || cat log.txt; fi
  - if [[ $OPENFL ]]; then yes | haxelib install openfl $OPENFL > log.txt || cat log.txt; fi
  - if [[ $HAXEPUNKTMX ]]; then yes | haxelib install HaxePunkTmx $HAXEPUNKTMX > log.txt || cat log.txt; fi
  - if [[ $HAXEPUNK ]]; then yes | haxelib install HaxePunk $HAXEPUNK > log.txt || cat log.txt; fi
  - haxelib install format > log.txt || cat log.txt; fi
  - haxelib list

script:
  - haxelib run lime build html5

cache:
  directories:
   - $HOME/haxe/lib